{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}" rel="script"></script>
</head>
	<body>
		<div  class="container-fluid" id="main">
			{% block content %}
				{% if user.is_authenticated %}
					<a class="btn btn-primary" href="{% url 'signout' %}">Log Out</a>
	             	<p class="display-4" style="text-align: center;">Hello, {{ user.username }}</p>
	            {% else %}
	            	<p> Anda belum Login</p>
	            {% endif %}
			{% endblock content %}
			<h1 style="text-align: center" >Google Books List</h5>
		    <h3 style="text-align: center" id ="fav" >Favorites: {{num_books}}</h3>

		    <div class="front">
		        <table style="left: 50%;" class = "table table-striped myTable" >
		            <div>
		                <br>
		            </div> 
		            <thead>
		            	<th style="text-align:center; align-items: center;">Cover</th>
		                <th style="text-align:center;align-items: center;">Title</th>
		                <th style="text-align:center;align-items: center;">Publisher</th>
		                <th style="text-align:center;align-items: center;">Favorite this</th>
		            </thead>
		            <tbody id ="start">
		            </tbody>
		        </table>
		        <br>
		        <br>
		    </div>
	    </div>
	</body>
</html>
<!-- b -->